<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<ul>

<li> Artwork Name:<%= newArt.name %> </li>
<li> Artwork Size: <%= newArt.size %></li>
<li> Artwork Technique:<%= newArt.technique %> </li>

</ul>

      <!-- <a href = "/celebrities">
        Back to Celebrity Inventory
      </a> -->
  </body>
</html>
